@import "variables";

.downloadCV {
	display: flex; 
	justify-content: center;
	h2,
	p{
		text-align: center;
		padding:1rem;
	}
}

.button {
	background-color: $btnBg;
	color:$textLight;
	font-size: $fontMedium; 
	justify-items: center; 
	border: none;
	border-radius: 1rem; 
	padding: 1rem; 
	text-decoration: none;
&:hover {
	background-color: $btnBg; 
	color:$textLight;
}
}