@import "variables";

.header{
	z-index: 5;
	background: $background; 
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

.headerTitle{
	text-transform:capitalize; 
	font-size: $fontLarge; 
	color: $textLight;
    a {
        text-transform:capitalize; 
        font-size: $fontLarge;
        color: $textLight; 
        text-decoration: none;
        &:hover {
            text-transform:capitalize; 
            font-size: $fontLarge;
            color: white; 
            background-color: $highlight;
        }
    }
}

.headerMenu{
	display: flex; 
	justify-content: space-around;
	width: 40%;
	a{
		font-size: 1rem;
		text-decoration: none;
		color:$backgroundLight
	}
}

.headerMenuLinks {
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;
	width: 40%;
}

.menu {
	display: flex; 
	flex-direction: column; 
	justify-content: space-around;
}

.headerMenuLinks li {
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}

.headerMenuMobile i {
	color: $textLight;
	font-size: 20px; 
	cursor: pointer;
}

.headerIcons{
	list-style: none; 
	display: flex; 
	align-items: center;
	li, 
	a{
		border-radius: 100%; 
		color: #FFF; 
		width: 2rem; 
		height: 2rem; 
		text-decoration: none;
		display:flex; 
		justify-content: center; 
		align-items: center; 
		font-size: 1.2rem; 
	}
}

.headerIcons li a:hover{
	background-color:$hoverIcons;
	color: $textLight; 
}