@import "variables";

.postContent {
    padding:2rem;
    background: $backgroundLight;
}

.titleContent {
    color:$textDark;
    margin-bottom: 2rem;
}

.textContent {
    color: $textMedium;
    margin-bottom: 2rem;
}

.backButton a { 
    margin-top:2rem;
    color:$highlight;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}