/* Fonts */

$fontPrimary: 'Poppins', sans-serif;
$fontSecondary: 'Poppins', sans-serif;

/*Font Sizes */

$fontSmall: 0.5rem;
$fontMedium: 1rem;
$fontLarge: 1.2rem;

/* Colors */

$background: #1a0024;
$backgroundLight:white;
$backgroundDark:black;
$highlight:blueviolet;
$textLight: white;
$textMedium:#181818;
$textDark:$background;
$btnBg:#d5004a;
$hoverIcons:$btnBg;